<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
#Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Jupyter_Notebook

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are: 
1. Python. 
2. R. 
3. SQL.

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include: 
1. Keras 
2. PyTorch 
3. TensorFlow

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science Tools  | Data Science Tools | Data Science Tools |
| ------ | ------ | ------ |
|Apache Spark | MATLAB |SAS|

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

#Below are a few examples of evaluating arithmetic expressions in Python
1+1
2*2

In [ ]:
#Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [2]:
#This a simple arithmetic expression to mutiply then add integers
1+1*2

3

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [4]:
# This will convert 240 minutes to hours by diving by 60 
240/60

4.0

In [ ]:
#Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Objectives: 
<u>
    <li>List popular languages for Data Science</li> 
    <li>Create a markdown cell for an introduction</li> 
    <li>Create a markdown cell with the title of the notebook</li>

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

CEMRE KOL

In [ ]:
#Exercise 12 - Share your notebook through GitHub (3 pts)

In [ ]:
#Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)